$accent: #464646;
$blue: #19b5fe;


%roboto-100 {
  font-family: 'Roboto-Thin', sans-serif;
  font-weight: 100;
}

%roboto-300 {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}